body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004d80;
    color: #fff;
    padding: 10px;
    text-align: center;
 
}
.homehead{
     background-color: #004d80;
    color: #fff;
    padding: 10px;
    text-align: center;
    position:sticky;
    top:0;
}
nav {
    background-color: #0073b1;
    color:black;
    overflow: hidden;
    text-align: center;
    position: sticky;
    top:145px;
   
}

nav a {
    display: inline-block;
    color: white;
    margin: auto;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;


}

nav a:hover {
    background-color: white;
    color: black;
}
 main{
    padding: auto;
    width:90%;
    background-color: #f4f8fb;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

 }
 main p{
    color: #333;
    font-size: 18px;
 }
 h2{
    color: #333;
    text-align: left;
    margin-top: 20px;
 }
 p{
    color: white;
    line-height: 1.6;
    margin-bottom: 20px;

 }
 section{
    margin-bottom: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
 }
 section img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
  
 }
    .doctor {
        display: inline-block;
        width: 200px;
        margin: 1%;
        margin-left: 10%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        text-align: center;
        background-color: #ffffff;
    }
    .doctor img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        vertical-align: top;
    }
    .doctor p {
        margin: 10px 0;
        color: #333;
    }
    footer {
        background-color: #004d80;
        color: #fff;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    footer p {
        margin: 0;
    }
    footer a {
        color: orange;
        text-decoration: none;
    }   
    
nav a{
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}
main{
    padding: 20px;
    background-color: #fff;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1%;
}
th, td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border: 1px solid #ddd;
}
th{
    background-color:  #0073b1;
}
form{
    background-color: whitesmoke;
    padding:20px;
    border:1px solid black;
    border-radius:10px;
    margin:auto;
}
label,input,select,option,button{
    width:100%;
    padding:10px;
    border: 2px;
    margin-top: 5px;
}
